.cart{
   padding: 20px;
    margin-top: 10%;
    background-color: #F1F1F1; 
}

img{
    width: 150px;
    height: 200px;
}
button{
    background-color: #7BC74D;
    color:#fff;
    padding: 10px 20px;
    border: none;
   
}